<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/createPage" method="post">
    
    <p>
      Webpage Title: <input type="text" name="firstname">
    </p>
    
    <p>------------------NEW MODEL---------------------</p>
    <p>Model name: <input type="text" name="modelName1"></p>
    <p>-----------------------------------------------</p>
    <p>Atribute 1 name: <input type="text" name="attrName1"></p>
    <p>Atribute 1 type: <input type="text" name="attrType1"></p>
    <p>Atribute 1 multilanguaje: <input type="checkbox" name="attrMulti1"></p>
    <p>-----------------------------------------------</p>
    <p>Atribute 2 name: <input type="text" name="attrName2"></p>
    <p>Atribute 2 type: <input type="text" name="attrType2"></p>
    <p>Atribute 2 multilanguaje: <input type="checkbox" name="attrMulti2"></p>
    <p>-----------------------------------------------</p>
<br>
    <input type="submit" value="Submit">
  </form>    
  </body>
</html>
