<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/createPage" method="post">
    Webpage Title:<br>
    <input type="text" name="firstname">
    <br>
    <input type="submit" value="Submit">
  </form>    
  </body>
</html>
